@charset "utf-8";
/* CSS Document */



/*コンテンツの中央寄せ*/
.wrap{
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.header{
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  z-index: 2;
}

.logo{
  float: left;
}

.logo_title{
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  float: left;
}

.logo_title a{
  color: #fff;
  text-decoration: none;
}

.logo:hover{
	opacity: 0.75;
}

/* navi*/
.navi{
  float:none;
  right: -260px;
  z-index: 1000;
  width: 260px;
  overflow-y: auto;
  margin-top:0;
  position: absolute;
  left: -500px;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  top: 80px;
}

.open .navi{
  display: block;
  float: none;
  width: 100%;
  background-color: #333;
  left: 0;
  top: 66px;
}

.navi li{
  display: block;
  float: none;
  margin-left:0;
  border-bottom:1px solid #454545;
}

.navi li:last-of-type{
  border: none;
  margin-right : 0;
}

.navi li a{
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
  padding:20px 15px;
}

.header #nav-toggle {
    display: block;
    float: right;
    position: relative;
}

.header #nav-toggle{
    right: 0;
    top: 7px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}

.header #nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

.header #nav-toggle span:nth-child(1) {
    top: 0;
}

.header #nav-toggle span:nth-child(2) {
    top: 11px;
}

.header #nav-toggle span:nth-child(3) {
    top: 22px;
}


.header.open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
}

.header.open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
}

.header.open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
}

.key_visual_text{
  /*margin-bottom: 60px;*/
  position: absolute;
  text-align: center;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.absolute{
  padding: 0 10px;
  box-sizing: border-box;

}

.key_visual{
  margin-bottom: 30px;
  position: relative;
}

.key_visual .key-bg{
  width: 100%;
  height: 480px;
  object-fit: cover;
  object-position: 78% 100%;
}

.content-headline{
  font-size: 20px;
  font-weight: bold;
  color: #2ed8ff;
  border-bottom: 1px solid #2ed8ff;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#About_me{
  margin-bottom: 30px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

#About_me .inner .thumbnail{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#About_me table{
  width: 100%;
  float: none;
}

#About_me table tr:nth-of-type(2n+1){
  background-color: #d8f4f6;
}

#About_me .inner table th{
  width: 45%;
  font-size: 14px;
  text-align: left;
  padding: 15px;
  border: 1px solid #ccc;
  line-height: 1;
}

#About_me .inner table td{
  width: 100%;
  font-size: 14px;
  padding: 15px;
  border: 1px solid #ccc;
  line-height: 1;
}

#My_favorite {
  margin-bottom: 30px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

#My_favorite .content-wrap{
  margin-right: 0;
}

#My_favorite .content-wrap .inner{
  width: 100%;
  margin-right: 0;
  float: none;
}

#My_favorite .content-wrap .inner .thumbnail{
  width: 100%;
}

.sub-headline{
  font-size: 20px;
  color: #00ff00;
  margin-bottom: 10px;
}

#My_favorite .content-wrap .inner p{
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 30px;
}

#Voice{
  margin-bottom: 60px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

#Voice .inner .thumbnail{
  width: 100%;
  margin-right: 0;
  float: none;
  margin-bottom: 20px;
}

#Voice .inner .comment{
  width: 100%;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

.footer{
  background-color: #2ed8ff;
}

.footer .copy{
  font-size: 10px;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

/************ blog一覧ページ **************/

.blog .header{
  width: 100%;
  background-color: #2ed8ff;
  padding: 15px 0;
  margin-bottom: 60px;
  position: static;
}

.list_page{
  margin-bottom: 40px;
}

.list_page article{
  width:100%;
  float: none;
  margin-bottom:30px;
}

.list_page article:nth-of-type(odd){
  margin-right:;
}

.list_page article .thumbnail{
  margin-bottom:15px;
}

.list_page article .info{
  margin-bottom:5px;
}

.list_page article .info .category{
  float:left;
  border:1px solid #2ed8ff;
}

.list_page article .info .category a{
  font-size:12px;
  color:#2ed8ff;
  padding:5px 10px;
  box-sizing:border-box;
  text-decoration: none;
  display: block;
}

.list_page article .info .category a:hover{
	transition: all .3s;
	background-color:#2ed8ff;
	color:#fff;
}

.list_page article .info .date{
  font-size:12px;
  float:right;
}

.list_page article .article-title{
  font-size:18px;
  font-weight: bold;
  margin-bottom:5px;

}

.list_page article .article-title a{
  color:#99ff33;
  line-height:1.5;
  text-decoration: none;
}

.list_page article .article-title a:{
	text-decoration: underline;
}

.list_page article .article-title a:hover{
	text-decoration: underline;
}

.list_page article .article-text{
  font-size:14px;
  color:#333;
}

/*ページング部分*/

.paging li{
  margin-bottom: 40px;
  display: inline-block;
  padding-right:5px;
}

.paging li span{
  display: table-cell;
  border:2px solid #2ed8ff;
  width:30px;
  height: 30px;
  border-radius: 4px;
  text-align:center;
  vertical-align: middle;
  box-sizing: border-box;
  background-color:#2ed8ff;
  color:#fff;
  font-size:16px;
}

.paging li a{
  display: table-cell;
  border:2px solid #2ed8ff;
  width:30px;
  height: 30px;
  border-radius: 4px;
  text-align:center;
  vertical-align: middle;
  color:#2ed8ff;
  text-decoration: none;
  box-sizing: border-box;
  font-size:16px;
}

.paging li a:hover{
  transition: all .3s;
  background-color:#2ed8ff;
  color:#fff;
}

/* categories_Keywordsの部分 */

.categories_Keywords{
  background-color: #d8f4f6;
  padding-top:40px;
  padding-bottom: 45px;
}

.content-headline dt{
  font-size:;
  margin-bottom: ;
}

.content-headline dd{
  margin-bottom: ;
}

.category_headline{
  font-size:22px;
  margin-bottom: 20px;
}

.keyword_headline{
  font-size:22px;
  margin-bottom: 20px;
}

.categories-list li{
  float:left;
  margin-right: 10px;
  margin-bottom: 20px;
}

.categories-list li a{
  background-color:#fff;
  border-radius:20px;
  font-size:14px;
  padding:5px 16px;
  color: #333;
  text-decoration: none;
}

.categories-list li a:hover{
  transition: all .3s;
	background-color:#2ed8ff;
	color:#fff;
}

.keyword-list li{
  float:left;
  margin-right: 10px;
  margin-bottom: 20px;
}

.keyword-list li a{
  background-color:#fff;
  border-radius:20px;
  font-size:14px;
  padding:5px 16px;
  color: #333;
  text-decoration: none;
}

.keyword-list li a:hover{
  transition: all .3s;
	background-color:#2ed8ff;
	color:#fff;
}

/************ 詳細ページ **************/


.title_contents{
  margin-bottom:20px;
}

.title_list a{
  font-size:10px;
  padding:2px 5px;
  border:1px solid #2ed8ff;
  color: #2ed8ff;
  text-decoration: none;
}

.title_list a:hover{
	transition: all .3s;
	background-color:#2ed8ff;
	color:#fff;
}

.blog_headline{
  font-size:22px;
}

.date{
  font-size:12px;
  color:#333;
}

.images{
  margin-bottom: 20px;
}

.article-text{
  font-size:14px;
  margin-bottom: 20px;
}

.article-text p{
  margin-bottom:20px;
}

.tag_keyword{
  background-color:#e0e0e0;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 40px;
}

.tag_keyword dt{
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.tag_keyword a:hover{
	transition: all .3s;
	background-color:#2ed8ff;
	color:#fff;
}

.fa-map-marker{
  margin-right: 5px;
}
